body
{
   
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("oldlibrarydetail.jpg");
}
h1
{
    position: absolute;
}

.header
{
    height: 100px;
     background-color:brown;
    color: white;
    text-align:100px;
}
.header input[type="submit"],
.header input[type="reset"]
{
	border: none;
	outline: none;
	height: 40px;
    width: 150px;
	color: white;
	font-size: 16px;
	background:black;
	cursor: pointer;
	border-radius: 20px;
    
}
p
{
    font-family: sans-serif;
    font-size: 50px;
    position: absolute;
    color: white;
    margin-left:300px;
    top: 300px;
}

.header input[type="submit"]:hover,
.header input[type="reset"]:hover
{
	background: pink;
	color: #262626;
}
.display
{
    height: auto;
     
}
.btn{
    background: active;
    position: absolute;
    top: 60px;
    left: 600px;
}
.btn0{
    position: absolute;
    top: 60px;
    left:770px;
}
.btn1{
    position: absolute;
     top: 60px;
    left: 940px;
}
.btn2{
    position: absolute;
     top: 60px;
    left: 1110px;
}